html, body {
  font-family: "brandon-grotesque", Brandon Grotesque;
  -webkit-font-smoothing: antialiased; }

header {
  height: 100vh;
  background-image: url("../images/bg_succes.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

p {
  width: 600px;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 1.2em; }

h1 {
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 0.3em 0; }

#submit_btn {
  border: none;
  outline: none;
  padding: 0.7rem 3rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: #ff9950;
  margin-top: 2em;
  transition-duration: 0.4s; }

#submit_btn:hover {
  background: #ff7e2f;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19); }

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }
